<footer>
    <div class="container">
        <div class="footer_inner">
            <div class="footer_top">
                <div class="footer_title">Контакти:</div>
                <div class="footer_social">
                    <a href="#" class="footer_social_link"><img src="/images/footer/telegram.svg" alt=""></a>
                    <a href="#" class="footer_social_link"><img src="/images/footer/youtube.svg" alt=""></a>
                    <a href="#" class="footer_social_link"><img src="/images/footer/facebook.svg" alt=""></a>
                    <a href="#" class="footer_social_link"><img src="/images/footer/instagram.svg" alt=""></a>
                </div>
            </div>
            <div class="footer_mid">
                <div class="footer_mid_item">
                    <div style="font-size: 30px; color: #7c3aed;">📍</div>
                    <div class="footer_mid_text">
                        <p>Ми знаходимось тут:</p>
                        <p><address>м. Київ, вул. Тараса Шевченка, 17</address></p>
                    </div>
                </div>
                <div class="footer_mid_item">
                    <div style="font-size: 30px; color: #7c3aed;">✉️</div>
                    <div class="footer_mid_text">
                        <p>Пишіть сюди:</p>
                        <p><a href="mailto:info@leanlift.ua">info@leanlift.ua</a></p>
                    </div>
                </div>
                <div class="footer_mid_item">
                    <div style="font-size: 30px; color: #7c3aed;">⏰</div>
                    <div class="footer_mid_text">
                        <p>Графік роботи:</p>
                        <p>Пн-Пт: 7:00 - 22:00<br>Сб-Нд: 9:00 - 20:00</p>
                    </div>
                </div>
            </div>
            <div class="footer_bot">
                <div class="footer_logo">Lean & Lift</div>
                <div class="footer_bot_text">© Lean & Lift 2025</div>
            </div>
        </div>
    </div>
</footer>