<footer class="footer" style="background: #ffffff; background: linear-gradient(0deg, rgba(255, 255, 255, 1) 95%, rgba(247, 247, 247, 0) 100%);">
    <div class="container">
        <div class="footer_inner">
            <div class="footer_top">
                <div class="footer_title">
                    Контакти:
                </div>
                <div class="footer_social">
                    <a href="" class="footer_social_link">
                        <img src="images/footer/telegram.svg" alt="">
                    </a>
                    <a href="" class="footer_social_link">
                        <img src="images/footer/youtube.svg" alt="">
                    </a>
                    <a href="" class="footer_social_link">
                        <img src="images/footer/facebook.svg" alt="">
                    </a>
                    <a href="" class="footer_social_link">
                        <img src="images/footer/telegram.svg" alt="">
                    </a>
                    <a href="" class="footer_social_link">
                        <img src="images/footer/instagram.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="footer_mid">
                <div class="footer_mid_item">
                    <img src="images/footer/phone.svg" alt="" style="height: 30px;">
                    <div class="footer_mid_text">
                        <p>
                            Телефонуйте:
                        </p>
                        <p>
                            <a class="footer_phone" href="tel:+380441234567">+38(012) 345 67 89</a>
                        </p>
                    </div>
                </div>
                <div class="footer_mid_item">
                    <img src="images/footer/location.svg" alt="" style="height: 30px;">
                    <div class="footer_mid_text">
                        <p>
                            Ми знаходимось тут:
                        </p>
                        <p>
                            <address>Проспект Тараса Шевченка , б. 17, офіс 6</address>
                        </p>
                        
                    </div>
                </div>
                <div class="footer_mid_item">
                    <img src="images/footer/mail.svg" alt="" style="height: 30px;">
                    <div class="footer_mid_text">
                        <p>
                            Пишіть сюди:
                        </p>
                        <p>
                            <a class="footer_mail" href= "mailto:abc@example.com">abc@example.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer_bot"> 
                <img src="images/logo.png" style="height: 35px;">
                <div class="footer_bot_text">
                    © Lean & Lift 2025
                </div>
            </div>
        </div>
    </div>
</footer>