<header>
    <div class="container">
        <div class="header_inner">
            <a href="/" class="logo">Lean & Lift</a>
            <nav>
                <ul class="menu_list">
                    <li class="menu_item"><a href="/bonus_shop" class="menu_link">Послуги</a></li>
                    <li id="login_li" class="menu_item" style="display: none;"><a href="/login_page" class="menu_link">Реєстрація/Вхід</a></li>
                    <li id="user_account_li" class="menu_item" style="display: none;"><a href="/user" class="menu_link">Аккаунт</a></li>
                    <li id="trainer_account_li" class="menu_item" style="display: none;"><a href="/trainer" class="menu_link">Аккаунт</a></li>
                    <li id="admin_account_li" class="menu_item" style="display: none;"><a href="/admin_account" class="menu_link">Аккаунт</a></li>
                    <li id="logout_li" class="menu_item" style="display: none;"><a href="/logout" class="menu_link">Вихід</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <script src="/js/header.js"></script>
</header>