<header class="header" style="background: #ffffff; background: linear-gradient(180deg, rgba(255, 255, 255, 1) 90%, rgba(247, 247, 247, 0) 100%);">
    <div class="container">
        <div class="header_inner">
            <a href="/" class="logo">
                <img src="/images/logo.png" alt="" height="75px">
            </a>
            <div class="header_contacts">
                <div class="header_contacts_text">Гаряча лінія</div>
                <div class="header_contacts_text">Наші тренери</div>
                <div class="header_contacts_phone">
                    <img src="/images/header/phone.svg" height="18px">
                    <a href="tel:+380441234567">+38(012) 345 67 89</a>
                </div>
                <div class="header_contacts_phone">
                    <img src="/images/header/phone.svg" height="18px">
                    <a href="tel:+380441234567">+38(012) 345 67 89</a>
                </div>
            </div>
            <nav class="header_menu">
                <ul class="menu_list">
                    <li id="login_li" class="menu_item" style="display: none;"><a href="/login_page" class="menu_link"><img src="/images/header/login.svg" alt="" height="18px"> Реєстрація/Вхід</a></li>
                    <li id="logout_li" class="menu_item" style="display: none;"><a href="/logout" class="menu_link">Вихід</a></li>
                    <li id="trainings_li" class="menu_item" style="display: none;"><a href="/training" class="menu_link">Запис на тренування</a></li>
                    <li id="user_account_li" class="menu_item" style="display: none;"><a href="/user" class="menu_link">Аккаунт</a></li>
                    <li id="trainer_account_li" class="menu_item" style="display: none;"><a href="/trainer" class="menu_link">Аккаунт</a></li>
                    <li id="admin_account_li" class="menu_item" style="display: none;"><a href="/admin_account" class="menu_link">Аккаунт</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <script src="/js/header.js"></script>
</header>